.desc{
    padding: 2rem;
    text-align: left;
}

.file-details{
    margin-top: 10px;
}
.how-to-work{
    text-decoration: underline;
}

#responseImg{
    display: inline-block;
    padding: 3rem;
    width: 50vw;

}

@media only screen and (max-width: 600px) {
    #responseImg{
        padding: 0.8rem;
        width: 100%;
    }
}