.devs-body{
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: #3a3e47;
}

#av-sivin{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url(../assets/sivin.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#av-sajan{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url(../assets/sajan.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#av-prateek{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url(../assets/prateek.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#av-sajan{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url(../assets/sajan.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#av-rishav{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url(../assets/rishav.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.av1-div, .av2-div, .av3-div, .av4-div {
    text-align: center;
    vertical-align: middle;
    padding: 2rem 6rem;
    background-color: #25282c;
    color:mintcream
}

.dev-header {
    padding-top: 1rem;
    padding-bottom : 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    border-radius: 50%;
    background-color: #ffffff;
}

.social-logo{
    width: 50%;
    height: 6rem;
}

.icons a:link {
    text-decoration: none;
}

.icons a:hover {
    text-decoration: none;
    color: #1a283f;
}

.icons a:visited {
    text-decoration: none;
}

.icons i {
    color: #e8e8e8;
}

@media only screen and (max-width: 1386px) {
    .devs-body
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .av1-div, .av2-div, .av3-div, .av4-div {
        padding: 2rem 4rem;
    }
  }


