#nav-brand{
    font-weight: bolder;
    font-size: 2rem;
    color: white;
   
}
.nav-link-text{
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
}
.nav-link-text:hover {
    color: rgb(192, 192, 192);
}

@media only screen and (max-width: 600px) {
    #nav-brand{
        font-weight: bolder;
        font-size: 1.5rem;
        color: white;  
    }
  }