.tech-header {
    text-align: center;
    vertical-align: middle;
    padding: 2rem 6rem;
    background-color: #25282c5e;
}

.tech-header1 {
    padding-bottom: 1rem;
}

.techno
{
    height: min-content;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    text-align: center;
    background-color: #3a3e47;
}

.t1, .t0 {
    border-radius: 3%;
    height: fit-content;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
    background-color: #111114fa;
    color: #f0f5f9;
    text-align: center;
    box-shadow: 5px 5px 15px #0e131b;
}

.t2, .t3 {
    border-radius: 3%;
    height: fit-content;
    width: 25%;
    margin-top: 4rem;
    margin-bottom: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111114fa;
    color: #f0f5f9;
    text-align: center;
    box-shadow: 5px 5px 15px #0e131b;
}

.tech-header2 {
    position: relative; 
    top: 10px; 
    color: #f0f5f9;
}

#detectron-logo{
    height: 100px;
    background-size: cover;
}

.tech-header3 {
    position: relative; 
    top: 10px; 
    line-height: 1.4; 
    padding: 1.2rem;
}

.logo-img{
    padding: 1rem;
    width: 70%;
    height: 6rem;

}

@media (max-width: 1000px)
{

    .tech-header {
        background-color: #f0f5f9;
        vertical-align: middle;
        padding: 2rem;
        text-align: center;
    }

    .tech-header-text{
        width: 100%;
        margin: 0 auto;
    }

    .techno {
        align-items: center;
        height: min-content;
        justify-content:space-evenly;
        flex-direction: column;
    }

    .t0 {
        margin-top: 8rem;
        margin-bottom: 4rem;
        height: fit-content;
        width: 80%;
    }

    .t3 {
        margin-top: 4rem;
        margin-bottom: 8rem;
        height: fit-content;
        width: 80%;

    }

    .t1 {
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: fit-content;
        width: 80%;
    }

    .t2 {
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: fit-content;
        width: 80%;
    }

    .logo-img{
        padding: 1rem;
        width: 100%;
        height: 6rem;
    
    }
}
